/* style.css */
body {
    background-color: #111;
    color: #eee;
    font-family: 'Segoe UI', sans-serif;
}
h1.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
    color: #facc15;
}
p.subtitle {
    font-size: 1.2em;
    color: #999;
    margin-top: -1em;
    margin-bottom: 2em;
}
div.stCheckbox > label {
    font-size: 1.1em;
    padding: 0.2em;
}
button {
    border-radius: 8px;
}
